
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.switch{
    margin: auto;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 3em;
}

.status1{
    background-color: #87b987;
}

.status0{
    background-color: #9399bb;
}

